{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>{{ movie.title }}</h1>
    <div class="row form">
        <div class="col">
            <img src="{{ movie.picture }}" />
        </div>
        <div class="col">
            <p>
                <b>Average rating</b> : {% if average==0 %}N/A{% else %}{{ average }} / 5{% endif %}
                <div class="stars">
                    <a href=""><i class="fas fa-star star1 star{% if average>=1 %} activeStar{% endif %}"></i></a>
                    <a href=""><i class="fas fa-star star2 star{% if average>=2 %} activeStar{% endif %}"></i></a>
                    <a href=""><i class="fas fa-star star3 star{% if average>=3 %} activeStar{% endif %}"></i></a>
                    <a href=""><i class="fas fa-star star4 star{% if average>=4 %} activeStar{% endif %}"></i></a>
                    <a href=""><i class="fas fa-star star5 star{% if average>=5 %} activeStar{% endif %}"></i></a>
                </div>
            </p>
            <p>{{ movie.synopsis }}</p>
            <p><b>Release date</b> : {{ movie.releaseDate }}</p>
            <p><b>Director</b> : {{ movie.director }}</p>
        </div>
    </div>
    <div class="row form">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="input-group">
                <a href="{{ path('movie_edit', {'id': movie.id}) }}"><button class="btn customButton  my-2 my-sm-2 m-2">Edit</button></a>
                {{ include('movie/_delete_form.html.twig') }}
            </div>
        {% endif %}
    </div>
    <div class="row form mt-5">
         <b>Rate this movie</b> :
         <div class="stars">
             <a href="{{ path('movie_new_rate', {'value': 1, 'id': movie.id}) }}" class="star"><i class="fas fa-star star"></i></a>
             <a href="{{ path('movie_new_rate', {'value': 2, 'id': movie.id}) }}" class="star"><i class="fas fa-star star"></i></a>
             <a href="{{ path('movie_new_rate', {'value': 3, 'id': movie.id}) }}" class="star"><i class="fas fa-star star"></i></a>
             <a href="{{ path('movie_new_rate', {'value': 4, 'id': movie.id}) }}" class="star"><i class="fas fa-star star"></i></a>
             <a href="{{ path('movie_new_rate', {'value': 5, 'id': movie.id}) }}" class="star"><i class="fas fa-star star"></i></a>
         </div>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form'} }) }}
    <br>
    <b>{{ form_label(form.message, 'Add your comment') }}</b> :
    <br>
    {{ form_widget(form.message, { 'attr': {'class': 'formTextarea'} }) }}
    <br>
    <button class="btn customButton  my-2 my-sm-2">{{ button_label|default('Send') }}</button>
    {{ form_end(form) }}
    <br>

    <div class="form">
        <p><b>Members comments</b> : </p>
        {% for comment in comments %}
            <fieldset class="border p-2 my-2">
                <b>{{ comment.userId.username | capitalize }}</b> :
                <p>{{ comment.message }}</p>
            </fieldset>
        {% endfor %}
        {% if comments is empty %}
            <p>
                No comments.
            </p>
        {% endif %}
    </div>
{% endblock %}
